<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zjc.bookmanage.org.dao.BookkindMapper">
  <resultMap id="BaseResultMap" type="zjc.bookmanage.org.model.Bookkind">
    <constructor>
      <idArg column="BookKindID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="BookKindName" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    BookKindID, BookKindName
  </sql>
  <select id="selectByExample" parameterType="zjc.bookmanage.org.model.BookkindExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from bookkindjyc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bookkindjyc
    where BookKindID = #{bookkindid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bookkindjyc
    where BookKindID = #{bookkindid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="zjc.bookmanage.org.model.BookkindExample">
    delete from bookkindjyc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="zjc.bookmanage.org.model.Bookkind">
    insert into bookkindjyc (BookKindID, BookKindName)
    values (#{bookkindid,jdbcType=INTEGER}, #{bookkindname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="zjc.bookmanage.org.model.Bookkind">
    insert into bookkindjyc
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bookkindid != null">
        BookKindID,
      </if>
      <if test="bookkindname != null">
        BookKindName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bookkindid != null">
        #{bookkindid,jdbcType=INTEGER},
      </if>
      <if test="bookkindname != null">
        #{bookkindname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="zjc.bookmanage.org.model.BookkindExample" resultType="java.lang.Long">
    select count(*) from bookkindjyc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update bookkindjyc
    <set>
      <if test="record.bookkindid != null">
        BookKindID = #{record.bookkindid,jdbcType=INTEGER},
      </if>
      <if test="record.bookkindname != null">
        BookKindName = #{record.bookkindname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update bookkindjyc
    set BookKindID = #{record.bookkindid,jdbcType=INTEGER},
      BookKindName = #{record.bookkindname,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="zjc.bookmanage.org.model.Bookkind">
    update bookkindjyc
    <set>
      <if test="bookkindname != null">
        BookKindName = #{bookkindname,jdbcType=VARCHAR},
      </if>
    </set>
    where BookKindID = #{bookkindid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="zjc.bookmanage.org.model.Bookkind">
    update bookkindjyc
    set BookKindName = #{bookkindname,jdbcType=VARCHAR}
    where BookKindID = #{bookkindid,jdbcType=INTEGER}
  </update>
</mapper>